#============= adbd ==============
allow adbd vendor_file:file r_file_perms;

#============= adbroot ==============
# allow adbroot vendor_file:file r_file_perms;

#============= apexd ==============
allow apexd emmcblk_device:blk_file getattr;
allow apexd vendor_file:file r_file_perms;

#============= art_boot ==============
# allow art_boot vendor_file:file r_file_perms;

#============= atrace ==============
allow atrace vendor_file:file r_file_perms;

#============= audioserver ==============
allow audioserver vendor_file:file r_file_perms;

#============= auditctl ==============
# allow auditctl vendor_file:file r_file_perms;

#============= bootanim ==============
allow bootanim vendor_file:file r_file_perms;

#============= bootstat ==============
allow bootstat vendor_file:file r_file_perms;

#============= boringssl_self_test ==============
# allow boringssl_self_test vendor_file:file r_file_perms;

#============= bpfloader ==============
allow bpfloader vendor_file:file r_file_perms;

#============= cameraserver ==============
allow cameraserver vendor_file:file r_file_perms;

#============= credstore ==============
allow credstore vendor_file:file r_file_perms;

#============= derive_classpath ==============
# allow derive_classpath vendor_file:file r_file_perms;

#============= derive_sdk ==============
# allow derive_sdk vendor_file:file r_file_perms;

#============= dex2oat ==============
# allow dex2oat vendor_file:file r_file_perms;

#============= dmesgd ==============
# allow dmesgd vendor_file:file r_file_perms;

#============= extra_free_kbytes ==============
allow extra_free_kbytes vendor_file:file r_file_perms;

#============= factory_adsp ==============
allow factory_adsp diag_device:chr_file rw_file_perms;
allow factory_adsp mnt_vendor_file:dir search;
allow factory_adsp node:tcp_socket node_bind;
allow factory_adsp persist_file:lnk_file r_file_perms;
allow factory_adsp self:netlink_socket { bind create read };
allow factory_adsp self:tcp_socket { bind create };
allow factory_adsp sensors_persist_file:dir r_dir_perms;
allow factory_adsp sensors_persist_file:file r_file_perms;

#============= fsck ==============
allow fsck emmcblk_device:blk_file r_file_perms;
allow fsck vendor_file:file r_file_perms;

#============= fsverity_init ==============
# allow fsverity_init vendor_file:file r_file_perms;

#============= gatekeeperd ==============
allow gatekeeperd vendor_file:file r_file_perms;

#============= gsid ==============
# allow gsid vendor_file:file r_file_perms;

#============= hal_allocator_default ==============
# allow hal_allocator_default vendor_file:file r_file_perms;

#============= hal_camera_default ==============
allow hal_camera_default default_prop:file r_file_perms;
allow hal_camera_default radio_prop:file r_file_perms;

#============= hal_wifi_default ==============
allow hal_wifi_default wifi_efs_file:dir search;
allow hal_wifi_default wifi_efs_file:file r_file_perms;

#============= idmap ==============
allow idmap vendor_file:file r_file_perms;

#============= incidentd ==============
allow incidentd vendor_file:file r_file_perms;

#============= init ==============
allow init emmcblk_device:blk_file getattr;

#!!!! This avc is allowed in the current policy
#!!!! This av rule may have been overridden by an extended permission av rule
allow init emmcblk_device:blk_file ioctl;
allow init hal_light_service:service_manager add;
allow init hal_usb_service:service_manager add;
allow init same_process_hal_file:file execute;
allow init self:netlink_kobject_uevent_socket { bind create getopt read setopt };
allow init servicemanager:binder { call transfer };
allow init system_server:binder call;
allow init vendor_file:file execute;

#============= installd ==============
allow installd vendor_file:file r_file_perms;

#============= isolated_app ==============
allow isolated_app content_capture_service:service_manager find;

#============= keystore ==============
allow keystore vendor_file:file r_file_perms;

#============= linkerconfig ==============
# allow linkerconfig vendor_file:file r_file_perms;

#============= location ==============
allow location sysfs_socinfo_sensitive:file r_file_perms;

#============= logd ==============
allow logd vendor_file:file r_file_perms;

#============= mediaextractor ==============
allow mediaextractor vendor_file:file r_file_perms;

#============= mediametrics ==============
allow mediametrics vendor_file:file r_file_perms;

#============= mediaserver ==============
allow mediaserver vendor_file:file r_file_perms;

#============= mediaswcodec ==============
allow mediaswcodec vendor_file:file r_file_perms;

#============= misctrl ==============
# allow misctrl sysfs_dt_firmware_android:dir r_dir_perms;
# allow misctrl sysfs_dt_firmware_android:file r_file_perms;
# allow misctrl vendor_file:file r_file_perms;

#============= netd ==============
allow netd vendor_file:file r_file_perms;

#============= odsign ==============
# allow odsign vendor_file:file r_file_perms;

#============= platform_app ==============
allow platform_app vendor_file:file r_file_perms;

#============= priv_app ==============
allow priv_app vendor_file:file r_file_perms;

#============= qti_init_shell ==============
allow qti_init_shell ctl_stop_prop:property_service set;

#============= recovery_persist ==============
allow recovery_persist vendor_file:file r_file_perms;

#============= sdcardd ==============
allow sdcardd vendor_file:file r_file_perms;

#============= secure_element ==============
allow secure_element system_data_file:dir rw_dir_perms;
allow secure_element system_data_file:file create_file_perms;

#============= sensors ==============
allow sensors efs_file:dir search;
allow sensors persist_file:lnk_file r_file_perms;

#============= shell ==============
allow shell vendor_file:file r_file_perms;

#============= statsd ==============
allow statsd vendor_file:file r_file_perms;

#============= storaged ==============
# allow storaged vendor_file:file r_file_perms;

#============= surfaceflinger ==============
allow surfaceflinger vendor_file:file r_file_perms;

#============= system_server ==============
allow system_server init:binder transfer;
allow system_server vendor_file:file r_file_perms;

#============= time_daemon ==============
allow time_daemon self:capability dac_override;

#============= tombstoned ==============
allow tombstoned vendor_file:file r_file_perms;

#============= toolbox ==============
allow toolbox vendor_file:file r_file_perms;

#============= traced ==============
allow traced vendor_file:file r_file_perms;

#============= traced_probes ==============
allow traced_probes vendor_file:file r_file_perms;

#============= ueventd ==============
allow ueventd emmcblk_device:blk_file { create relabelfrom };

#============= untrusted_app ==============
allow untrusted_app proc_version:file r_file_perms;
allow untrusted_app vendor_file:file r_file_perms;

#============= untrusted_app_30 ==============
allow untrusted_app_30 vendor_file:file r_file_perms;

#============= untrusted_app_32 ==============
allow untrusted_app_32 aac_drc_prop:file r_file_perms;
allow untrusted_app_32 ab_update_gki_prop:file r_file_perms;
allow untrusted_app_32 adaptive_haptics_prop:file r_file_perms;
# allow untrusted_app_32 adbd_prop:file r_file_perms;
allow untrusted_app_32 adsprpcd_file:dir getattr;
allow untrusted_app_32 apex_info_file:file getattr;
allow untrusted_app_32 app_efs_file:dir search;
allow untrusted_app_32 firmware_file:dir getattr;
allow untrusted_app_32 linkerconfig_file:dir getattr;
allow untrusted_app_32 mnt_vendor_file:dir getattr;
allow untrusted_app_32 proc_audiod:file r_file_perms;
allow untrusted_app_32 sysfs:file r_file_perms;
allow untrusted_app_32 sysfs_fpc:dir search;
allow untrusted_app_32 sysfs_fpc:file r_file_perms;
allow untrusted_app_32 sysfs_kgsl:file r_file_perms;
allow untrusted_app_32 sysfs_kgsl:lnk_file read;
allow untrusted_app_32 vendor_file:file r_file_perms;
allow untrusted_app_32 wifi_hal_prop:file r_file_perms;

#============= usbd ==============
allow usbd vendor_file:file r_file_perms;

#============= vdc ==============
allow vdc vendor_file:file r_file_perms;

#============= vendor_init ==============
allow vendor_init ipa_dev:file create_file_perms;
allow vendor_init tombstone_data_file:dir setattr;
# allow vendor_init vendor_seemp_data_file:dir getattr;
allow vendor_init vendor_tee_listener_prop:file r_file_perms;

#============= vold ==============
allow vold vendor_file:file r_file_perms;

#============= vold_prepare_subdirs ==============
allow vold_prepare_subdirs vendor_file:file r_file_perms;

#============= wificond ==============
allow wificond vendor_file:file r_file_perms;

#============= zygote ==============
allow zygote vendor_file:file r_file_perms;
