#============= untrusted_app_32 ==============
allow untrusted_app_32 aac_drc_prop:file r_file_perms;
allow untrusted_app_32 ab_update_gki_prop:file r_file_perms;
allow untrusted_app_32 adaptive_haptics_prop:file r_file_perms;
allow untrusted_app_32 adsprpcd_file:dir getattr;
allow untrusted_app_32 apex_info_file:file getattr;
allow untrusted_app_32 app_efs_file:dir search;
allow untrusted_app_32 block_device:dir search;
allow untrusted_app_32 csc_prop:file r_file_perms;
allow untrusted_app_32 efs_file:dir { getattr search };
allow untrusted_app_32 firmware_file:dir getattr;
allow untrusted_app_32 firmware_file:filesystem getattr;
allow untrusted_app_32 linkerconfig_file:dir getattr;
allow untrusted_app_32 mnt_vendor_file:dir getattr;
allow untrusted_app_32 mnt_vendor_file:dir search;
allow untrusted_app_32 proc:file r_file_perms;
allow untrusted_app_32 proc_audiod:file r_file_perms;
allow untrusted_app_32 proc_version:file r_file_perms;
allow untrusted_app_32 sysfs:file r_file_perms;
allow untrusted_app_32 sysfs_fpc:dir search;
allow untrusted_app_32 sysfs_fpc:file r_file_perms;
allow untrusted_app_32 sysfs_graphics:file r_file_perms;
allow untrusted_app_32 sysfs_kgsl:file r_file_perms;
allow untrusted_app_32 sysfs_kgsl:lnk_file read;
allow untrusted_app_32 sysfs_lcd_writable:dir search;
allow untrusted_app_32 sysfs_mmc_host:file r_file_perms;
allow untrusted_app_32 vendor_file:file r_file_perms;
allow untrusted_app_32 wifi_hal_prop:file r_file_perms;
