#============= adbroot ==============
allow adbroot vendor_file:file r_file_perms;

#============= art_boot ==============
allow art_boot vendor_file:file r_file_perms;

#============= auditctl ==============
allow auditctl vendor_file:file r_file_perms;

#============= boringssl_self_test ==============
allow boringssl_self_test vendor_file:file r_file_perms;

#============= derive_classpath ==============
allow derive_classpath vendor_file:file r_file_perms;

#============= derive_sdk ==============
allow derive_sdk vendor_file:file r_file_perms;

#============= dex2oat ==============
allow dex2oat vendor_file:file r_file_perms;

#============= dmesgd ==============
allow dmesgd vendor_file:file r_file_perms;

#============= fsverity_init ==============
allow fsverity_init vendor_file:file r_file_perms;

#============= gsid ==============
allow gsid vendor_file:file r_file_perms;

#============= hal_allocator_default ==============
allow hal_allocator_default vendor_file:file r_file_perms;

#============= linkerconfig ==============
allow linkerconfig vendor_file:file r_file_perms;

#============= misctrl ==============
allow misctrl sysfs_dt_firmware_android:dir r_dir_perms;
allow misctrl sysfs_dt_firmware_android:file r_file_perms;
allow misctrl vendor_file:file r_file_perms;

#============= odrefresh ==============
dontaudit odrefresh property_type:file { getattr open read map };
allow odrefresh vendor_file:file r_file_perms;

#============= odsign ==============
allow odsign vendor_file:file r_file_perms;

#============= permissioncontroller_app ==============
allow permissioncontroller_app vendor_file:file r_file_perms;

#============= storaged ==============
allow storaged vendor_file:file r_file_perms;

#============= system_suspend ==============
allow system_suspend vendor_file:file r_file_perms;

#============= vendor_init ==============
allow vendor_init vendor_seemp_data_file:dir getattr;

#============= wcnss_service ==============
# allow wcnss_service vendor_wigig_core_prop:file r_file_perms;
