#============= misctrl ==============
allow misctrl sysfs_dt_firmware_android:dir r_dir_perms;
allow misctrl sysfs_dt_firmware_android:file r_file_perms;
allow misctrl vendor_file:file r_file_perms;
